<div class="mobile-menu-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="mobile-menu">
					<nav id="dropdown">
						<ul class="mobile-menu-nav">
							<li>
								<a title="Landing Page" href="/user/principal/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<span class="educate-icon educate-home icon-wrap"></span>
								<span class="mini-click-non">Principal</span></a>
							</li>
							<li>
								<a title="Landing Page" href="/user/materias/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<span class="educate-icon educate-home icon-wrap"></span>
								<span class="mini-click-non">Matérias</span></a>
							</li>
							<li>
								<a title="Landing Page" href="/user/profile/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<span class="educate-icon educate-home icon-wrap"></span>
								<span class="mini-click-non">Dados Pessoais</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>