<style>
	.fa-2x {
	  font-size: 1.6em;
	}
</style>
<div class="sidebar-header">
	<a href="/"><img class="main-logo" src="/img/logo/logoIbadejuf.png" alt="" /></a>
	<strong><a href="/"><img src="/img/logo/logosn.png" alt="" /></a></strong>
</div>
<div class="left-custom-menu-adp-wrap comment-scrollbar">
	<nav class="sidebar-nav left-sidebar-menu-pro">
		<ul class="metismenu" id="menu1" style="margin-top: 59px;">
			<li>
				<a title="Landing Page" href="/diaconos/principal/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
				<span class="educate-icon educate-home icon-wrap"></span>
				
				<span class="mini-click-non" id="menu_principal">Principal</span></a>
			</li>
			
			<li>
				<a title="Landing Page" href="/diaconos/materias/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
				<i class="fa fa-book fa-2x" aria-hidden="true"></i>				
				<span class="mini-click-non" id="menu_materias">Matérias</span></a>
			</li>
			
			<li>
				<a title="Landing Page" href="/diaconos/profile/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
				<i class="fa fa-user fa-2x" aria-hidden="true"></i>
				<span class="mini-click-non" style="margin-left:5px;" id="menu_dados_pessoais">Dados Pessoais</span></a>
			</li>
			<li>
				<a title="Landing Page" href="/loginv2" aria-expanded="false" id="link_principal">
				<i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
				<span class="mini-click-non" style="margin-left:5px;" id="menu_sair">Sair</span></a>
			</li>
		</ul>
	</nav>
</div>
